.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--black);
padding: 1.5rem 3rem;
position: sticky;
top: 0; 
z-index: 100;

}


.logo {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}
.links {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 1rem;

}

.link{
    color: var(--gray);
    font-weight: 500;
}

.link:hover{
    color: var(--white);
    transition: 0.3s;
}
@media only screen and (max-width: 800px) {
   .links {
       display: none;
   }
    .mobile-drawer{
         display: block;
    }
    .drawer-div{
        width: 40vh;
        height: 100vh;
        
        background-color: var(--black);
        padding: 1.5rem;
       
    }
    .logo {
        font-size: 1 rem;
    }
    
    .navbar{
        padding: 1.5rem;
    }
  }

.mobile-drawer{
    display: none;
  }

.drawer-button {
    color: var(--gray); 
    z-index: 101; 
}